<br/><br/><br/><br/>

<div class=" col-sm-10 col-lg-10 offset-sm-1 offset-lg-1" >

  <div class="heading-title text-center">
    <h3> DASHBOARD </h3>
    <p class="p-top-30 half-txt">Create and compare models.
      <br/>
    Find the property to take you to retirement! </p>
  </div>


  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Margin</th>
      <th scope="col">Annual Cash Flow</th>
      <th scope="col">Annual Cash Flow before Loan Repayments</th>
      <th scope="col">Years to Breakeven</th>
      <th scope="col">Years to Loan Payoff</th>
    </tr>
  </thead>
  <tbody>
    <% @models.each do |fin_model| %>
      <% if fin_model.id.present? %>
        <tr>
          <th scope="row"><%= fin_model.id %></th>
          <td>fin_model.rent_monthly</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

  <br/><br/>
  <div class="text-center">
    <h5> Add a new property... </h5>
    <br/>
    <%= link_to "CREATE A MODEL", new_model_path, class: "btn btn-outline-primary" %>
  </div>
</div>
<br/><br/><br/>



