<link href="css/bootstrap.css" rel="stylesheet" />
<link href="css/rotating-card.css" rel="stylesheet" />
<link href="https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="col-12 eliminate_padding">
  <div>
    <%= image_tag("santa_barbara.jpg", class: "homebackground", alt: "suburbs.jpg") %>
    <div class="transparent-layer text-center">
      <br/><br/>
      <h1>DIGITAL MANAGEMENT FOR THE MODERN PROPERTY INVESTOR</h1>
      <h2>Find, financially project, purchase and manage your real estate portfolio online </h2>
      <br/><br/>
    </div>
  </div>
</div>

<br>
<div class="row ">
  <div class="Portal_cards">
    <div class="col-4 float-left Portal_container">
      <h3 class="Portal_card text-center"> Investment Screener </h3>
      <p class="Portal_card  text-center"> A dashboard for investors to financially project, rank and select the ideal investment property </p>
    </div>
    <div  class="col-4 float-left Portal_container">
      <h3 class="Portal_card text-center"> Investment Property Search </h3>
      <p class="Portal_card text-center"> Search for properties listed by management companies, tailored to financial outcomes </p>
    </div>
    <div  class="col-4 float-left Portal_container">
      <h3 class="Portal_card text-center"> List Property </h3>
      <p class="Portal_card text-center"> List potential properties for investors to browse and buy </p>
    </div>
    <div  class="col-4 float-left Portal_container">
      <h3 class="Portal_card text-center"> Tenant Portal </h3>
      <p class="Portal_card text-center"> Apply to properties, pay rent, and manage your landlord relationship</p>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>