<div class="homebackground col-12" >
  <div class="transparent-layer text-center">
    <br/><br/>
    <h1>FOUNDATION MODELS</h1>
    <h2>The Real Estate Financial Primer</h2>
    <br/><br/>
  </div>
</div>
