// Place all the styles related to the finance_models controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.model-header{
  font-size:55px;
}

.model-header-line {
  border-color: rgba(112, 173, 71,1);
  border-width: 3px;
}

.section-header {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 35px;
}

.equity_bg{
  background-color: rgba(242,242,242,1);
  font-color: rgba(64,64,64,1);
  padding-top: 5px;
  padding-bottom:20px;
  padding-left: 5px;
  padding-right: 5px;
}

.equity_header{
  background-color: rgba(128,128,128,1);
  color: white;
  padding-left: 5px;
}

.revenue_header{
  background-color: rgba(84,130,53,1);
  color: white;
  padding-left: 5px;
}

.revenue_bg{
  background-color: rgba(226,239,218,1);
  font-color: rgba(255,255,255,1);
  padding-top: 5px;
  padding-bottom:20px;
  padding-left: 5px;
  padding-right: 5px;
}

.expenses_header{
  background-color: rgba(192,0,0,1);
  color: white;
  padding-left: 5px;
}

.expenses_bg{
  background-color: rgba(255,204,204,1);
  font-color: rgba(64,64,64,1);
  padding-top: 5px;
  padding-bottom:20px;
  padding-left: 5px;
  padding-right: 5px;
}

.simple_form_content input {  
  border-radius: 2px;
  border-width: 2px;
  border-color:  rgba(128,128,128,1);
  background-color: transparent;
  text-align: center;
}  

/* EXAMPLE OF ALIGNMENT USING FLEXBOX */
.simple_form_content label { 
  color: rgba(64,64,64,1);
  font-weight: bold;
  margin-bottom: 5px;
  min-height: 45px;
  display: flex;                  /* invokes flex box */
  flex-direction: column;         /* specify axis for justify content command to operate on */
  justify-content: center;         /* 'justify' specifies where to orient the object. here it is at the bottom of the column axis */
  align-content: center;          /* 'align' applies to the axis NOT specified, aka the 'cross-axis' */
}

.simple_form_content div.input_element {
  padding-left: 30px;
  padding-right: 30px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.fa-trash {
  color: rgba(128, 128, 128,1);
}

.fa-trash:hover, a.hover_delete:hover {
  color: rgba(192, 0, 0,1);
}

.fa-edit {
  color: rgba(128, 128, 128,1);
}

.fa-edit:hover, a.hover_edit:hover {
  color: rgba(68, 114, 196,1);
}

td.actions-min-width {
  min-width: 75px;
  max-width: 75px;
}

td.field-min-width {
  min-width: 100px;
}

tr td.property_address{
  font-weight: bold;
  font-color: rgba(112,173,71,1);
  white-space: nowrap;
  padding-right: 40px;
}

tr:hover td.property_address{
  color: rgba(190, 70, 10,1);
}

td.actions,th.actions {
  background-color: rgba(230, 230, 230,1)
}

th {
  border-bottom: 5px solid #70AD47; 
  border-bottom-style: solid;
}
