  <br/>
  <br/><br/><br/>
  <div class="heading-title text-center">
      <h3>PRODUCTS & PRICING</h3>
      <p class="p-top-30 half-txt">
      Hit the ground running with our finance products.
      <br/> 
      Start with our limited time free-trial, expert-led trainings, or dive deep in with our full products</p>
  </div>

  <% if current_user %>
    <div class="text-center">
      <button type="button text-center" class="btn btn-primary">CLICK TO SUBSCRIBE</button>
      <%= form_tag product_subscriptions_path(@products) do %>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-label
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-email="<%= current_user.email %>"
        data-description="Monthly Subscription"
        data-amount=1000
        data-locale="auto"
        data-label="Subscribe">
      </script>
      
    </div>
    <% end %>
  <% else %>
     <div class="text-center">
      <%= link_to 'LOG IN TO SUBSCRIBE', user_session_path, class: 'btn btn-primary text-center' %>
    </div>   
  <% end %>

    